---
import App from "../../components/tools/whatsappLinkGenerator/App.jsx";
import BaseHead from "../../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="WhatsApp Link Free Generator, Create Custom Messages"
      description="With this free WhatsApp link generator tool, you can create a link that will take your customers directly to your WhatsApp chat with a custom message."
      tags="WhatsApp Link Generator,WhatsApp Link Free Generator,Custom Messages,whatsapp link to message,free whatsapp link,whatsapp link number,best whatsapp link generator,api whatsapp link,whatsapp me link,whatsapp link share,whatsapp link number,whatsapp link generator with message,business whatsapp link generator,whatsapp number link generator,whatsapp link code"
      author="Operation Dev"
      image="/mainImage/WhatsApp Link Free Generator, Create Custom Messages.webp"
      imagealt="WhatsApp Link Free Generator, Create Custom Messages"
    />

    <script
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-KD48BQTC6N"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KD48BQTC6N");
    </script>
  </head>

  <body>
    <App client:only="react" />
  </body>
</html>
