---
import WhatsappLinkGenerator from "../../components/tools/whatsappLinkGenerator/components/WhatsappLinkGenerator.jsx";
import Footer from "../../components/tools/whatsappLinkGenerator/components/Footer.jsx";
import NavBar from "../../components/tools/whatsappLinkGenerator/components/NavBar.jsx";
import "../../components/tools/whatsappLinkGenerator/styles.css";

import BaseHead from "../../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="WhatsApp Link Free Generator, Create Custom Messages"
      description="With this free WhatsApp link generator tool, you can create a link that will take your customers directly to your WhatsApp chat with a custom message."
      tags="WhatsApp Link Generator,WhatsApp Link Free Generator,Custom Messages,whatsapp link to message,free whatsapp link,whatsapp link number,best whatsapp link generator,api whatsapp link,whatsapp me link,short whatsapp link generator,whatsapp link share,whatsapp link number,whatsapp link generator with message,business whatsapp link generator,whatsapp number link generator,whatsapp link code"
      author="Operation Dev"
      image="/mainImage/WhatsApp-Link-Free-Generator-Create-Custom-Messages.webp"
      imagealt="WhatsApp Link Free Generator, Create Custom Messages"
    />

    <script
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-KD48BQTC6N"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KD48BQTC6N");
    </script>
  </head>
  <style>
    * {
      box-sizing: inherit;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

    body {
      font-family: "Open Sans", sans-serif;
      margin: 0px !important;
      padding: 0px 20px 0px 20px;
      max-width: 100% !important;
      text-align: left;
      background-color: #e9f4ff;
      word-wrap: break-word;
      overflow-wrap: break-word;
      line-height: 1.5;
      color: #1a202a;
    }

    /* NAV BAR */
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: #2e3748;
      margin-left: 10px;
      font-size: 20px;
    }

    a.active {
      font-weight: bolder;
      text-decoration: none;
    }

    @media only screen and (max-width: 780px) {
      a {
        margin-right: 10px;
      }
    }

    main {
      color: #26272c !important;
    }

    /* Footer */
    footer {
      padding: 25px 0px;
      text-align: center;
      color: antiquewhite;
      background-color: #202a44;
      position: absolute;
      bottom: -70px;
      left: 0px;
      width: 100%;
    }

    .whatsapp-tool-cont {
      display: flex;
      justify-content: space-evenly;
      /* align-items: center; */
      padding: 2%;
      padding-bottom: 0%;
    }

    .whatsapp-tool-cont2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0% 2%;
    }

    .form {
      margin: 10px auto;
      width: 450px;
      display: flex;
      flex-direction: column;
      padding: 40px;
      background: #0f0f0f;
      border-radius: 30px;
    }

    .MuiTelInput-Menu {
      width: 350px;
    }

    .label-message {
      margin-top: 35px;
    }

    .input {
      font-size: 16px;
      background: #ffffff;
      border: 1px solid #cacaca;
      border-radius: 5px;
      outline: none;
      padding: 18.5px 14px 18.5px 14px;
      transition: box-shadow ease 0.25s, border-color ease 0.25s;
      width: 100%;
      margin-bottom: 35px;
      height: 100px;
    }

    .clipboard-cont-cont {
      width: 450px;
      display: flex;
      flex-direction: column;
      padding: 50px 40px;
      background: #0f0f0f;
      border-radius: 30px;
      margin: 0px auto;
    }

    .clipboard-cont {
      display: flex;
      align-items: center;
      position: relative;
      align-content: center;
      font-size: 16px;
      background: #ffffff;
      border: 1px solid #cacaca;
      border-radius: 5px;
      outline: none;
      padding: 18.5px 14px 18.5px 14px;
      width: 100%;
      height: 55px;
      cursor: pointer;
      margin-bottom: 7px;
    }

    /* .input-clipboard {
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;
    outline: none;
    padding: 18.5px 14px 18.5px 14px;
    width: 100%;
    margin-bottom: 35px;
  } */

    .text-clipboard {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
    }

    .copy-btn {
      display: flex;
      padding-top: 10px;
      position: absolute;
      top: 0px;
      height: 100%;
      right: 0px;
      border: none;
      background-color: #0000;
      cursor: pointer;
    }

    .copy-btn:active {
      transform: scale(0.97);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .input::placeholder {
      color: rgb(23, 23, 23);
    }

    .input-label {
      color: #efefef;
      display: block;
      pointer-events: none;
      font-size: 16px;
      margin-bottom: 12px;
    }

    .input-label-remind {
      font-size: 13px !important;
      color: #dbdbdb !important;
    }

    .input:focus {
      border-bottom: 1px solid #4f4f4f;
      outline: none;
    }

    .MuiInputBase-root:focus {
      border: none !important;
    }

    .send-btn {
      width: 100%;
      background-color: #0ab819;
      color: #ffffff;
      border: none;
      padding: 10px 0px;
      font-size: 23px;
      border-radius: 5px;
      letter-spacing: 2px;
      cursor: pointer;
    }

    .copy-cont {
      padding: 0% 2%;
    }

    /* PHONE INPUT */

    .css-i44wyl {
      background-color: white !important;
      border-radius: 5px !important;
    }

    .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
      background-color: white !important;
    }

    .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root:focus {
      border: none !important;
    }

    .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input:focus {
      border: 1px solid #cacaca !important;
    }

    input:focus {
      border: 1px solid #cacaca !important;
    }

    .MuiTelInput-TextField:focus {
      border: 1px solid #cacaca !important;
    }

    .MuiTelInput-TextField:focus {
      border: 1px solid #cacaca !important;
    }

    .MuiTelInput-TextField:focus {
      border: 1px solid #cacaca !important;
    }

    .MuiTelInput-TextField:focus {
      border: 1px solid #cacaca !important;
    }

    .info-cont {
      width: 550px;
    }

    h1 {
      color: #26272c !important;
      font-size: 39px;
      margin-bottom: 0px;
    }

    h2 {
      color: #26272c !important;
      margin-top: 10px;
    }

    p {
      font-size: 19px;
      font-family: "Source Sans Pro";
    }

    .section-wsp-cont2 {
      max-width: 1180px;
      margin: 0 auto;
      margin-top: 145px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-direction: row;
      padding-bottom: 30px;
    }

    .body-subtitle {
      position: absolute;
      top: -77px;
      right: 55px;
      font-size: 52px;
      font-family: "Source Sans Pro";
      font-weight: 900;
      margin: 0px;
    }

    .body-subtitle2 {
      position: absolute;
      top: -75px;
      right: 5%;
      font-size: 52px;
      font-family: "Source Sans Pro";
      font-weight: 900;
      margin: 0px;
    }

    .section-wsp-cont {
      max-width: 1180px;
      margin: 0px auto;
      margin-top: 125px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-direction: row-reverse;
    }

    .body-subtitle {
      position: absolute;
      top: -77px;
      left: 0px;
      font-size: 52px;
      font-family: "Source Sans Pro";
      font-weight: 900;
      margin: 0px;
    }

    .media-cont {
      width: 575px;
      height: 315px;
    }

    .bitly-img {
      width: 100%;
      height: 100%;
    }

    .text-cont {
      width: 500px;
    }

    .message-item-cont {
      list-style: none;
      display: flex;
      padding: 0px;
      justify-content: flex-start;
      margin-top: 25px;
    }

    .message-item {
      margin-left: 80px;
    }

    textarea::placeholder {
      opacity: 0.5;
      color: red;
    }

    li {
      display: flex;
      align-items: center;
    }

    li span {
      padding-left: 10px;
      font-size: 17px;
    }

    mark {
      color: #0ab819;
      background-color: #0000 !important;
    }

    @media only screen and (max-width: 1137px) {
      .section-wsp-cont2 {
        max-width: 1180px;
        margin: 0 auto;
        margin-top: 65px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
      }

      .body-subtitle2 {
        position: relative;
        top: 0px;
        right: 0px;
        font-family: "Source Sans Pro";
        font-weight: 900;
        margin: 0px;
        margin-bottom: 22px !important;
        text-align: center;
      }

      .bitly-img {
        width: 100%;
        height: auto;
      }

      .section-wsp-cont {
        max-width: 1180px;
        margin: 0px auto;
        margin-top: 40px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
      }

      .body-subtitle {
        position: relative;
        top: 0px;
        font-family: "Source Sans Pro";
        font-weight: 900;
        margin: 0px;
        margin-bottom: 22px !important;
        text-align: center;
      }

      .media-cont {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }

      .media-cont iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .video {
        width: 560px;
        height: 315px;
      }

      .text-cont {
        margin-top: 22px;
        width: 90%;
        text-align: center;
      }
    }

    .message-icon {
      width: 32px;
      height: 32px;
    }

    @media only screen and (max-width: 1200px) {
      .whatsapp-tool-cont {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        padding: 0% 2%;
      }
    }

    @media only screen and (max-width: 1105px) {
      .whatsapp-tool-cont {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
      }

      .whatsapp-tool-cont2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 2%;
      }

      .message-item {
        margin-left: 0px;
      }

      .form {
        width: 100%;
        padding: 40px 25px;
      }

      .info-cont {
        width: 100%;
      }

      .maquetadoHidden {
        display: hidden;
      }

      .message-item-cont {
        list-style: none;
        display: flex;
        padding: 0px;
        justify-content: space-around;
        margin-top: 25px;
        flex-direction: row;
        align-items: center;
      }

      li {
        margin-bottom: 15px;
      }

      .clipboard-cont-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        background: #0f0f0f;
        border-radius: 30px;
      }

      h1 {
        font-size: 43px;
      }

      h2 {
        margin-top: -10px;
      }
    }

    @media only screen and (max-width: 400px) {
      h1 {
        font-size: 38px;
      }
    }

    @media only screen and (max-width: 490px) {
      .message-item-cont {
        list-style: none;
        display: flex;
        padding: 0px;
        justify-content: space-around;
        margin: 35px 0px;
        margin-top: 55px;
        align-items: center;
      }

      li span {
        padding-left: 10px;
        font-size: 20px;
        padding: 0px;
        font-weight: 600;
        margin-top: 10px;
        width: 110px;
      }

      .message-li {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
      }

      .message-icon {
        width: 52px;
        height: 52px;
      }

      .body-subtitle {
        position: relative;
        top: 0px;
        font-size: 40px;
        font-family: "Source Sans Pro";
        font-weight: 900;
        margin: 0px;
        margin-bottom: 22px !important;
      }

      .body-subtitle2 {
        position: relative;
        top: 0px;
        font-size: 40px;
        font-family: "Source Sans Pro";
        font-weight: 900;
        margin: 0px;
        margin-bottom: 22px !important;
      }

      h1 {
        margin-top: 0px;
      }

    }
    * {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');


body {
  font-family: "Open Sans", sans-serif;
  margin: 0px !important;
  padding: 0px 20px 0px 20px;
  max-width: 100% !important;
  text-align: left;
  background-color: #e9f4ff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #1a202a;
}

/* NAV BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #2e3748;
  margin-left: 10px;
  font-size: 20px;
}

a.active {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  a {
    margin-right: 10px;
  }
}

main {
  color: #26272c !important;
}

/* Footer */
footer {
  padding: 25px 0px;
  text-align: center;
  color: antiquewhite;
  background-color: #202A44;
  position: absolute;
  bottom: -70px;
  left: 0px;
  width: 100%;
}

.whatsapp-tool-cont {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 2%;
  padding-bottom: 0%;
}



.whatsapp-tool-cont2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2%;
}

.form {
  margin: 10px auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #0f0f0f;
  border-radius: 30px;
}

.MuiTelInput-Menu {
  width: 350px;
}

.label-message {
  margin-top: 35px;
}

.input {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  outline: none;
  padding: 18.5px 14px 18.5px 14px;
  transition: box-shadow ease .25s, border-color ease .25s;
  width: 100%;
  margin-bottom: 35px;
  height: 100px;
}

.clipboard-cont-cont {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  background: #0f0f0f;
  border-radius: 30px;
  margin: 0px auto;
}

.clipboard-cont {
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  outline: none;
  padding: 18.5px 14px 18.5px 14px;
  width: 100%;
  height: 55px;
  cursor: pointer;
  margin-bottom: 7px;
}

/* .input-clipboard {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  outline: none;
  padding: 18.5px 14px 18.5px 14px;
  width: 100%;
  margin-bottom: 35px;
} */

.text-clipboard {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.copy-btn {
  display: flex;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  border: none;
  background-color: #0000;
  cursor: pointer;
}

.copy-btn:active {
  transform: scale(0.97);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.input::placeholder {
  color: rgb(23, 23, 23);
}


.input-label {
  color: #efefef;
  display: block;
  pointer-events: none;
  font-size: 16px;
  margin-bottom: 12px;
}

.input-label-remind {
  font-size: 13px !important;
  color: #dbdbdb !important;
}

.input:focus {
  border-bottom: 1px solid #4f4f4f;
  outline: none;
}

.MuiInputBase-root:focus {
  border: none !important;

}

.send-btn {
  width: 100%;
  background-color: #0ab819;
  color: #ffffff;
  border: none;
  padding: 10px 0px;
  font-size: 23px;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.copy-cont {
  padding: 0% 2%;
}

/* PHONE INPUT */

.css-i44wyl {
  background-color: white !important;
  border-radius: 5px !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root:focus {
  border: none !important;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input:focus {
  border: 1px solid #CACACA !important;
}

input:focus {
  border: 1px solid #CACACA !important;
}

.MuiTelInput-TextField:focus {
  border: 1px solid #CACACA !important;
}

.MuiTelInput-TextField:focus {
  border: 1px solid #CACACA !important;
}

.MuiTelInput-TextField:focus {
  border: 1px solid #CACACA !important;
}

.MuiTelInput-TextField:focus {
  border: 1px solid #CACACA !important;
}

.info-cont {
  width: 550px;
}

h1 {
  color: #26272c !important;
  font-size: 39px;
  margin-bottom: 0px;
}

h2 {
  color: #26272c !important;
  margin-top: 10px;
}

p {
  font-size: 19px;
  font-family: "Source Sans Pro";
}

.section-wsp-cont2 {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 145px!important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
}

.body-subtitle {
  position: absolute;
  top: -77px;
  right: 55px;
  font-size: 52px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  margin: 0px;
}

.body-subtitle2 {
  position: absolute;
  top: -75px;
  right: 5%;
  font-size: 52px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  margin: 0px;
}

.section-wsp-cont {
  max-width: 1180px;
  margin: 0px auto;
  margin-top: 125px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
}

.body-subtitle {
  position: absolute;
  top: -77px;
  left: 0px;
  font-size: 52px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  margin: 0px;
}

.media-cont {
  width: 575px;
  height: 315px;
}

.bitly-img {
  width: 100%;
  height: 100%;
}

.text-cont {
  width: 500px;
}

.message-item-cont {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  margin-top: 25px;
}

.message-item {
  margin-left: 80px;
}

textarea::placeholder {
  opacity: .5;
  color: red;
}

li {
  display: flex;
  align-items: center;
}

li span {
  padding-left: 10px;
  font-size: 17px;
}

mark {
  color: #0ab819;
  background-color: #0000 !important;
}

@media only screen and (max-width: 1137px) {

  .section-wsp-cont2 {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 65px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
  }

  .body-subtitle2 {
    position: relative;
    top: 0px;
    right: 0px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    margin: 0px;
    margin-bottom: 22px !important;
    text-align: center;
  }

  .bitly-img {
    width: 100%;
    height: auto;
  }

  .section-wsp-cont {
    max-width: 1180px;
    margin: 0px auto;
    margin-top: 40px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
  }

  .body-subtitle {
    position: relative;
    top: 0px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    margin: 0px;
    margin-bottom: 22px !important;
    text-align: center;
  }

  .media-cont {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .media-cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video {
    width: 560px;
    height: 315px;
  }

  .text-cont {
    margin-top: 22px;
    width: 90%;
    text-align: center;
  }
}

.message-icon {
  width: 32px;
  height: 32px;
}



@media only screen and (max-width: 1200px) {
  .whatsapp-tool-cont {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0% 2%;

  }
}

@media only screen and (max-width: 1105px) {
  .whatsapp-tool-cont {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .whatsapp-tool-cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2%;
  }

  .message-item {
    margin-left: 0px;
  }

  .form {
    width: 100%;
    padding: 40px 25px;
  }

  .info-cont {
    width: 100%;
  }

  .maquetadoHidden {
    display: hidden;
  }

  .message-item-cont {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: row;
    align-items: center;
  }

  li {
    margin-bottom: 15px;
  }

  .clipboard-cont-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    background: #0f0f0f;
    border-radius: 30px;
  }



  h1 {
    font-size: 43px
  }

  h2 {
    margin-top: -10px;
  }
}



@media only screen and (max-width: 400px) {
  h1 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 490px) {
  .message-item-cont {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    margin: 35px 0px;
    margin-top: 55px;
    align-items: center;
  }

  li span {
    padding-left: 10px;
    font-size: 20px;
    padding: 0px;
    font-weight: 600;
    margin-top: 10px;
    width: 110px;
  }

  .message-li {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .message-icon {
    width: 52px;
    height: 52px;
  }

  .body-subtitle {
    position: relative;
    top: 0px;
    font-size: 40px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    margin: 0px;
    margin-bottom: 22px !important;
  }

  .body-subtitle2 {
    position: relative;
    top: 0px;
    font-size: 40px;
    font-family: "Source Sans Pro";
    font-weight: 900;
    margin: 0px;
    margin-bottom: 22px !important;

  }

  h1 {
    margin-top: 0px;
  }

}
  </style>
  <body>
    <NavBar client:only="react" />
    <div class="whatsapp-tool-cont">
      <WhatsappLinkGenerator client:only="react" />
      <div style={{ width: "100%" }}>
        <div class="info-cont">
          <h1><mark>WhatsApp</mark> Link Generator</h1>
          <h2>Create Custom Messages</h2>
          <p>
            Are you looking to generate a <mark>WhatsApp</mark> link with a personalized
            message?
          </p>
          <p>
            By just typing your phone number you can get a link that will lead
            your customers directly to your <mark>WhatsApp</mark> chat. You can also
            add a custom message to break the ice.
          </p>
          <ul class="message-item-cont">
            <li class="message-li">
              <div class="message-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="#0ab819"
                  class="bi bi-whatsapp"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"
                  ></path>
                </svg>
              </div>

              <span>From click to chat</span>
            </li>
            <li class="message-item message-li">
              <div class="message-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="#1a202a"
                  class="bi bi-chat-dots"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  ></path>
                  <path
                    d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"
                  ></path>
                </svg>
              </div>
              <span>Custom messages</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='section-wsp-cont'>
      <h2 class='body-subtitle'>Generator Tutorial</h2>
      <div class='media-cont'>
          <iframe
              /* width="560" height="315" */
              width="560" height="315"
              src="https://www.youtube.com/embed/HIlm4MBFCWU"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
          >
          </iframe>
      </div>
      <div class='text-cont'>
          <p>How Does Whatsapp Link Generator Work?</p>
          <p>You just have to select your country code, area code, and your full phone number. Remember to just add numbers in the phone input.</p>
          <p>The message input is optional, but you can add a predefined text that your customers will see when they contact you.</p>
          <p>We support all the letters from A-Z, special characters like "@", and all the Whatsapp emojis 😉.</p>
      </div>

  </div>
  <div class='section-wsp-cont2'>
    <h2 class='body-subtitle2'>Want a Shorter Link?</h2>
    <div class='media-cont'>
        <img class='bitly-img' src='/assets/bitly short url.webp' alt='Bitly short url' />
    </div>
    <div class='text-cont'>
        <p>You just created your first Whatsapp link message using our awesome tool but is to loooong and unesthetic?</p>
        <p>We are currently working on a way to shorten our Whatsapp links.</p>
        <p>But don't worry! For now, you can use the Bitly services to create a shorter WhatsApp link by clicking <a style={{margin: "0px", color:"#0058ff"}} href="https://bitly.com/#shorten_url" target="_blank">here</a>.</p>
    </div>
</div>
    <Footer client:only="react" />
  </body>
</html>
