 * {
	box-sizing: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
	position: relative;
}

main {
	margin-bottom: 100px;
}

body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 0px 20px 0px 20px;
	max-width: 75ch;
	text-align: left;
	background-color: #e9f4ff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #1a202a;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #1a202a;
}

p {
	font-size: 18px;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
	font-size: 20px;
}

pre {
	padding: 1rem;
	font-size: 15px;
}

pre>code {
	all: unset;
}

/*
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}*/

blockquote {
	position: relative;
	padding-left: 1em;
	border-left: 3px solid #1a202a;
	font-family: 'Roboto', serif;
	font-size: 18px;
	font-weight: 500;
	margin-left: 0px;
	font-style: italic;
	color: #1a202a;
	margin-right: 0px;
}

blockquote:before,
blockquote:after {
	color: #1a202a;
	font-size: 34px;
}
.table-content-item{
	color: #1a202a;
	font-size: 18px;
	font-weight: 550;
  }
  .img-center {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
@media only screen and (max-width: 780px) {
	body {
		padding: 0px 10px;
	}
}