---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Operation Dev Blog"
      description="Operation Dev blog, where the sauce is made."
    />
    <style>
      main {
        margin-top: 15px;
        min-height: 100vh;
        margin-bottom: 80px;
      }
      h1 {
        font-size: 35px;
        font-family: "Noto Sans JP", sans-serif;
      }
      .articles-cont {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 1% 4%;
        padding-bottom: 40px;
      }
      section a {
        color: #1a202a;
        margin-top: 30px;
        margin-left: 0px;
      }
      article {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      article a {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0px !important;
      }
      article div img {
        width: 100%;
      }
      article time {
        font-style: italic;
        color: #595959;
      }
      article h3 {
        margin: 0px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
      }
      @media only screen and (max-width: 780px) {
        main {
          min-height: 100vh;
          margin-bottom: 290px;
        }
        h1 {
          font-size: 30px;
        }
        .articles-cont {
          display: grid;
          grid-template-columns: 100%;
        }
        article {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-bottom: 20px;
          width: 100%;
        }
        section a {
          color: #1a202a;
          margin-left: 0px;
        }
        .image-cube {
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        .image-cube img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .article-data {
          width: 260px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    </style>
  </head>
  <!-- Google Analitycs -->

  <script
    async
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-KD48BQTC6N"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-KD48BQTC6N");
  </script>

  <body>
    <Header />
    <main>
      <section>
        <h1>Operation Dev Blog</h1>
        <div class="articles-cont">
          {
            posts.map((post) => (
              <article>
                <a href={"https://www.operationdev.com" + post.url} />
                <div class="image-cube">
                  <img
                    src={post.frontmatter.heroImage}
                    alt={post.frontmatter.imgAlt}
                    class="blogImage"
                  />
                </div>
                <div class="article-data">
                  <h3>{post.frontmatter.title}</h3>
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                </div>
              </article>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
