---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Operation Dev, Developer Tools"
      description="Here you will find many developer tools that will help you improve your website, business, or personal brand."
      tags="operation dev, operation developer, tools, website,business,personal brand"
    />
    <style>
      main {
        margin-top: 15px;
        min-height: 100vh;
        margin-bottom: 80px;
      }
      h1 {
        font-size: 35px;
        font-family: "Noto Sans JP", sans-serif;
        margin-bottom: 0px;
      }
      h2 {
        margin-top: 0px;
      }
      .articles-cont {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 1% 4%;
        padding-bottom: 40px;
      }
      section a {
        color: #1a202a;
        margin-top: 30px;
        margin-left: 0px;
      }
      article {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      article a {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0px !important;
      }
      article div img {
        width: 100%;
      }
      article time {
        font-style: italic;
        color: #595959;
      }
      article h3 {
        margin: 0px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
      }
      @media only screen and (max-width: 780px) {
        main {
          min-height: 100vh;
          margin-bottom: 290px;
        }
        h1 {
          font-size: 30px;
        }
        .articles-cont {
          display: grid;
          grid-template-columns: 100%;
        }
        article {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-bottom: 20px;
          width: 100%;
        }
        section a {
          color: #1a202a;
          margin-left: 0px;
        }
        .image-cube {
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        .image-cube img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .article-data {
          width: 260px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    </style>
  </head>
  <!-- Google Analitycs -->

  <script
    async
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-KD48BQTC6N"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-KD48BQTC6N");
  </script>

  <body>
    <Header />
    <main>
      <section>
        <h1>Operation Dev, Developer Tools</h1>
        <h2>Tools that help you grow</h2>
        <p>
          Here you will find many developer tools that will help you improve
          your website, business, or personal brand.
        </p>
        <div class="articles-cont">
          <article>
            <a href="https://www.operationdev.com/tools/whatsApp-link-free-generator-create-custom-messages"
            ></a>
            <div class="image-cube">
              <img
                src="/mainImage/whatsApp-link-free-generator-create-custom-messages.webp"
                alt="WhatsApp Link Free Generator, Create Custom Messages"
                class="blogImage"
              />
            </div>
            <div class="article-data">
              <h3>WhatsApp Link Free Generator, Create Custom Messages</h3>
            </div>
          </article>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
