---
import HeaderLink from "./HeaderLink.astro";
import Logo from '../../public/Arimo.png';
import { SITE_TITLE } from "../config";
/*
<h2>
		{SITE_TITLE}
	</h2>
	*/
---

<style>
  header {
    margin: 0em 0 2em;

  }
  header div{
    white-space: nowrap;
  }
  h2 {
    margin: 0.5em 0;
  }
  a {
    position: relative;
    color: #1a202a;
    text-decoration: none;
    padding-bottom: 8px;
  }
  .logo-link{
    padding: 0px;
  }


  .NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-top: 20px;
  }
  .NavBar a{
    margin: 0px;
  }
  div a {
    margin-left: 10px !important;
  }
  @media only screen and (max-width: 780px) {
    header {
    margin: 0em;
  }
      }
</style>

<header>
  <nav class="NavBar">
    <HeaderLink href="https://www.operationdev.com/" class="logo-link"><img src={Logo} height="50px" width="43px" alt="Operation Dev Logo" /></HeaderLink>
    <div>
      <HeaderLink href="https://www.operationdev.com/">Home</HeaderLink>
      <HeaderLink href="https://www.operationdev.com/blog/">Blog</HeaderLink>
     <!-- <HeaderLink href="/about">About</HeaderLink> -->
    </div>
  </nav>
</header>
